node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Data files

data/burnLogs.json
data/mintLogs.json
data/lastProcessedBlock.json

test/integration/data/burnLogs.json
test/integration/data/mintLogs.json
test/integration/data/lastProcessedBlock.json
